// main: ../main.less

.image-article-cover {
  width: 100%;
}
.article-cover {
  height:50%;
  overflow: hidden;
}
.news-article {
  h1 {
    margin: 100px 0px 30px 0px;
  }
  .image-article {
    width: 100%;
  }
}
