// main: ../main.less
@font-face {
  font-family: 'gotham-medium';
  src: url('fonts/gotham-medium.ttf') format('truetype');
}
@font-face {
  font-family: 'gotham-bold';
  src: url('fonts/gotham-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-regular';
  src: url('fonts/montserrat-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-bold';
  src: url('fonts/montserrat-bold.ttf') format('truetype');
}